/*
	_content.css
*/




//--bnr-slider
.bnr-slider{
	$slider-height: 400px;
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: white;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	figure{
		height: $slider-height;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}

	.carousel-content{
		.pie-flex-center{
			height: $slider-height;
		}
	}
	//Навигация
	.flickity-page-dots{

	}
	// Стрелки
	.flickity-prev-next-button{
		color: $color-1;
	}
	//Кастомные стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
		.prev{
			left: 0;
		}
		.next{
			right: 0;
		}
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 200px;
			.carousel-content{
				display: none;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}



//--bnr-info
.bnr-info{
	$block-height: 180px;
	position: relative;
	
	.pie-flex-center{
		height: $block-height;
	}
	.img-content{
		width: 100%;
		position: absolute;
	}
	&:hover{
		.img{
			filter: blur(3px);
		}
	}
	.img{
		transition: all 0.3s steps(4);
		height: $block-height;
		background-size: cover;
		background-position: center;
	}
	@media (max-width:991px) {
		height: auto;
		.pie-flex-center, .img{
			height: 360px;
		}
		.img{
			filter: blur(3px);
		}

		
	}
}
//-short-tickets
.short-tickets-items{
	.img{
		background-position: top;
		background-size: contain;
		height: 150px;
	}
	figure{
		margin-bottom: 30px;
	}
}
.empty-text{
	color: #bdbdbd;
	h1{
		font-size: 14px;
		font-weight: 400;
	}
}
hr.dashed{
	border-style: dashed;
}



//--calendar
.calendar{
	iframe{
		width: 100%;
		height: 200px;
	}
	.current-date{
		border-bottom: 1px solid rgb(163, 163, 163);
		padding-bottom: 5px;
	}
}
.calendar #datepicker{
	margin-top: 5px;
	color: black;
	*{
		color: inherit;
	}
	.ui-datepicker{
		width: 100%;
		background: transparent;
		th{
			font-weight: 400;
			font-size: 0.8em;
		}
		td{
			padding: 2px;		
		}
	}
	.ui-datepicker-header{
		border: 0;
		background: transparent;
	}
	.ui-datepicker-title{
		font-size: 0.85em;
	}
	.ui-datepicker-month{
		font-weight: 400;
	}
	.ui-datepicker-year{
		font-weight: 400;
	}
	.ui-widget.ui-widget-content{
		border: 0;
		border-radius: 0;
	}
	.ui-state-default{
		font-size: .9em;
		line-height: 22px;
		border: 1px solid transparent;
		text-align: center;
		font-weight: 500;
		background: transparent;
	}
	td.ui-datepicker-today{
		border: 1px solid $color-3;
		.ui-state-default{
			//border: 1px solid $color-3;
			color: white;
			background-color: $color-3;
		}
	}
	
	.ui-datepicker-current-day{
		.ui-state-default{
			border: 1px solid $color-2;
		}
	}
	.ui-datepicker-other-month{
		.ui-state-default{
			color: darken($color-gray-1, 20%);
		}
	}
	.ui-corner-all {
		&:hover{
			cursor: pointer;
		}
	}
}






//--bar-platform
.bar-platform-items{
	li{
		padding: 7px 15px;
		border-top: 1px solid $color-gray-1;
		border-bottom: 1px solid $color-gray-1;
		&:not(:last-child){
			border-bottom: 1px solid transparent;
		}
		a{
			line-height: 100%;
			padding-right: 7px;
		}
	}
}